@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url(../public/assets/fonts/georgia.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 16px;
}

.content-wrapper {
  max-width: 944px;
  margin-top: 64px;
  padding: 0 20px 0 20px;
}

table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}